assets/data/check_duplicates.py
assets/data/Civ5DebugDatabase.db
assets/data/ContentGenerator.py
assets/data/convert translations.py
assets/data/generate_structure.py
assets/data/key_list.csv
assets/data/Localization-Full.db
assets/data/structure2.json
assets/data/order_civ_texts.py